{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 4,
  "overrides": [
    { "files": ["*.md"], "options": { "tabWidth": 2, "proseWrap": "always" } },
    {
      "files": ["*.json", "*.yaml", ".prettierrc"],
      "options": { "tabWidth": 2 }
    }
  ]
}
